.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 60px;
    row-gap: 50px;
    max-width: 1140px;
    height: auto;
    padding: 56px 50px 56px 50px;
    background: #F7F7F7;
    border-radius: 25px;
}

.card {
    height: 340px;
    width: 340px;
    border-radius: 10px;
    /*aspect-ratio: auto 1 / 1;*/
}

.gradient {
    position: relative;
    bottom: 101%;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.card h3 {
    position: relative;
    bottom: 122%;
    left: 20px;
    margin: 0;
    width: 70%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    color: #FFFFFF;
}